body{
    margin: 0px;
    padding: 0px;
    background-image: url(../img/navbar.png);
    background-repeat: repeat-y;
}
#master{
    width: 100%;
    border: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
}
#master.tr, #master.tr {
    border: none;
    margin: 0px;
    padding: 0px;
}
#corner {
    width: 128px;
    height: 128px;
    background-image: url(../img/chair.png);
    border: none;
    margin: 0px;
    padding: 0px;
}
#banner {
    border: none;
    margin: 0px;
    padding: 10px;
    vertical-align: middle;
    text-align: left;
}
#title {
    vertical-align: middle;
    float: left;
}
#title div {
    font-style: italic;
    font-variant: small-caps;
}
#title div:first-child {

    font-size: 36px;
    font-style: normal;
    font-variant: normal;
}
#login {
    float: right;
    font-size: 10px;
    text-align: right;
}

#nav {
    vertical-align: top;
    border: none;
    margin: 0px;
    padding: 5px;
}
.trim {
    font-family: sans-serif;
    background-color: #660000;
    color: #ffffff;

}
.trim a:link {
    color: #679B00;
    text-decoration: none;
}
.trim  a:visited {
    color: #1D7373;
    text-decoration: none;

}
.trim  a:hover, .trim  a:active {
    text-decoration: underline;
    color: #86D32D;

}
#content {
    vertical-align: top;
    border: none;
    margin: 0px;
    padding: 10px;

}
.clickable {
    cursor: pointer;
}
.clickable:hover {
    background-color: #CCCCCC;
}